* {
  /* border:2px solid red; */
  margin:0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home {
  background-image: url(./img/cover.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  width: auto;
}

nav {
  display:flex;
  justify-content: space-evenly;
  height:4vh;
  padding:5px;
  border:2px solid brown;
  /* padding-top: 1vh; */
  /* background-color: rgb(9, 8, 8) ; */
}

.link a {
  color:rgb(239, 232, 232);
  font-size: 2rem;
  text-decoration: none;
  
}